{
    "tickers": {
        "stocks": [
            "TSLA",
            "AMZN",
            "MSFT"
        ],
        "cryptocurrencies": [
            "BTC",
            "ETH",
            "LTC"
        ]
    },
    "currency": "USD",
    "clock_format": "12h"
}
