{
    "tickers": {
        "stocks": [
            "TSLA",
            "AMZN",
            "MSFT"
        ],
        "cryptos": [
            "BTC",
            "ETH",
            "LTC"
        ]
    },
    "currency": "USD",
    "clock_format": "12h",
    "update_rate": 15.0
}
