{
    "tickers": {
        "stocks": [
            "TSLA",
            "AMZN",
            "MSFT"
        ],
        "cryptos": [
            "BTC",
            "ETH",
            "LTC"
        ],
        "forex": [
            "USD/EUR",
            "EUR/JPY",
            "GBP/USD"
        ]
    },
    "options": {
        "currency": "USD",
        "clock_format": "12h",
        "date_format": "%a, %b %d",
        "rotation_rate": 10,
        "update_rate": 10,
        "show_logos": false
    }
}
